/* selector */

.select-page{
    /* margin: 10% auto; */
    height: 80vh;
    color: rgb(0, 0, 0);

    font-size: 1.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-page-divs{
    margin: 0 auto;
    width: 800px;
    height: 300px;

    /* background-color: rgb(232, 240, 255); */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.selector-squad{
    width: 20vw;
    height: 40vh;
    padding: 100px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


    text-decoration: none;
    color: #c01a1a;
    border: 1px solid black;
    background-color: bisque;
    cursor: pointer;
    font-size: 2rem;
}
